# Django
Django

# google
antlr4-python3-runtime
gspread
oauth2client
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

# Django utils
jsonfield

# Util
sympy
python-dotenv

# heroku requirements
dj-database-url==0.5.0
gunicorn==19.9.0
whitenoise==2.0.6
psycopg2
django-heroku

# Gunicorn performance
django-db-geventpool==3.1.0
psycogreen==1.0.1
gevent==1.4.0
greenlet==0.4.15

