{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- src="https://drive.google.com/viewerng/viewer?embedded=true&url=http://infolab.stanford.edu/pub/papers/google.pdf#toolbar=1"
https://drive.google.com/file/d/1-_c_RaIIvOHeVGZ-Ys_frT-QLVda6ldX/view
https://doc-10-bk-docs.googleusercontent.com/docs/securesc/174mg365uioh13nd5blm7edtuv83ibep/sefpp9d3o7cq8eeulhijjfk48mn1he4r/1628890650000/01251585042880547273/01251585042880547273/1-_c_RaIIvOHeVGZ-Ys_frT-QLVda6ldX?e=download&authuser=0&nonce=aigio4gh7goji&user=01251585042880547273&hash=9btgva3s7m89qc2ria8kh76h348ang9s
-->
<!--&scrollbar=0-->
<div>
    <h4>Temario</h4>
    <ol>
        <li>Introducción </li>
            <ol type="i">
                <li>
                    Los conceptos geométricos elementales.
                    <ul>
                        <li>
                            Distancia entre dos puntos, distancia de un punto a una recta y distancia de un punto a un plano.
                        </li>
                        <li>
                            Simetría respecto a un punto, respecto a una recta y respecto a un plano.
                        </li>
                    </ul>
                </li>
                <li>
                    Introducción de coordenadas cartesianas en el plano y en el espacio y el método analítico.
                </li>
                <li>
                    Lugares geométricos del plano y el espacio definidos por ecuaciones y desigualdades elementales.
                </li>
                <li>
                    Gráficas de funciones de primer y segundo grados en una y dos variables.
                </li>
            </ol>
        <br>
        <li>Trigonometría</li>
        <ol type="i">
            <li>
                Razones trigonométricas.
                <ul>
                    <li>
                        Las primeras relaciones.
                    </li>
                    <li>
                        El Teorema de Pitágoras.
                    </li>
                </ul>
            </li>
            <li>
                Resolución de triángulos.
                <ul>
                    <li>
                        Congruencia.
                    </li>
                    <li>
                        Semejanza.
                    </li>
                </ul>
            </li>
            <li>
                Rectas y puntos notables de un triángulo.
            </li>
            <li>
                Ángulo central y ángulo inscrito.
            </li>
            <li>
                Potencia de un punto respecto a una circunferencia.
            </li>
            <li>
                Funciones trigonométricas.
            </li>
            <li>
                Identidades trigonométricas.
            </li>
            <li>
                Coordenadas polares.
            </li>
        </ol>
        <br>
        <li>Curvas</li>
        <ol type="i">
            <li>
                Curvas en coordenadas polares.
            </li>
            <li>
                Curvas paramétricas.
            </li>
            <li>
                Coordenadas esféricas y cilíndricas.
            </li>
            <li>
                Superficies coordenadas y Superficies paramétricas.
            </li>
        </ol>
    </ol>
    <h4>Bibliografía</h4>
    <ul>
        <li>
            Contamos con un repositorio de Github donde están todos los Goolgle Colabs usados en el curso. <a href="https://github.com/appliedgeometry/Geometria-Analitica">Repositorio</a>
        </li>
        <br>
        <br>
        <li>
            Libro de Geometría Analítica de Ana Irene Ramírez-Galarza. [<a href="https://doc-10-bk-docs.googleusercontent.com/docs/securesc/174mg365uioh13nd5blm7edtuv83ibep/sefpp9d3o7cq8eeulhijjfk48mn1he4r/1628890650000/01251585042880547273/01251585042880547273/1-_c_RaIIvOHeVGZ-Ys_frT-QLVda6ldX?e=download&authuser=0&nonce=aigio4gh7goji&user=01251585042880547273&hash=9btgva3s7m89qc2ria8kh76h348ang9s">Descargar</a>] <a onClick="muestra_oculta('anairene')"> [Mostrar/Ocultar]</a>
        </li>
        <br>
        <iframe
            id="anairene"
            src="https://drive.google.com/file/d/1-_c_RaIIvOHeVGZ-Ys_frT-QLVda6ldX/preview#toolbar=0"
            frameBorder="0"
            scrolling="auto"
            height="80%"
            width="70%"
            type="application/pdf"
            style="display: none;"
        ></iframe>
        <br>
        <li>Libro Geometría Analítica Moderna de William Wooton. [<a href="https://doc-04-bk-docs.googleusercontent.com/docs/securesc/174mg365uioh13nd5blm7edtuv83ibep/f257kce0isr3ma86uk0a03j3nb4rsv23/1628891025000/01251585042880547273/01251585042880547273/1Z0ORPe1-eHmOzD4N3VphGUfpGYA0842C?e=download&authuser=0&nonce=1164pgjskpj12&user=01251585042880547273&hash=ntb4gc2k8tiqhjq59bh2eg8a25b1l5ms">Descargar</a>]  <a onClick="muestra_oculta('wootom')"> [Mostrar/Ocultar]</a></li>
        <br>
        <iframe
            id="wootom"
            src="https://drive.google.com/file/d/1Z0ORPe1-eHmOzD4N3VphGUfpGYA0842C/preview#toolbar=0"
            frameBorder="0"
            scrolling="auto"
            height="80%"
            width="70%"
            style="display: none;"
        ></iframe>
        <br>

    </ul>
</div>
<div>
    <p>Servidor desarollado por el <a href="https://github.com/appliedgeometry" target="_blank">Laboratorio de Geometría Aplicada</a> (<a href="{% url 'credits' %}">Créditos</a>).</p>
</div>
<script>
function muestra_oculta(id){
    if (document.getElementById){ //se obtiene el id
        var el = document.getElementById(id); //se define la variable "el" igual a nuestro div
    el.style.display = (el.style.display == 'none') ? 'block' : 'none'; //damos un atributo display:none que oculta el div
    }
};
/*
window.onload = function(){
    muestra_oculta('anairene');
};
window.onload = function(){
    muestra_oculta('wootom');
};
*/
</script>

{% endblock content %}


