{% extends 'base.html' %}

{% block content %}
    <div>
        <h3>Este servidor ha sido utilizado en los siguientes cursos:</h3>
    </div>
    <div>
        <ul>
            <li>Geometría Analítica <a href="http://www.fciencias.unam.mx/docencia/horarios/detalles/326880">2022-1</a></li>
            <ul>
                <li>Profesor Titular: <a href="http://www.fciencias.unam.mx/directorio/34266">Dr. Pablo Suárez Serrato</a></li>
                <li>Ayudante: <a href="http://www.fciencias.unam.mx/directorio/98369">Dr. José C. Ruíz Pantaleón</a></li>
                <li>Ayudante: <a href="http://www.fciencias.unam.mx/directorio/82937">M.C. Miguel Angel Evangelista Alvarado</a></li>
            </ul>
            <br>
            <li>Geometría Analítica <a href="http://www.fciencias.unam.mx/docencia/horarios/detalles/310910">2020-2</a></li>
            <ul>
                <li>Profesor Titular: <a href="http://www.fciencias.unam.mx/directorio/34266">Dr. Pablo Suárez Serrato</a></li>
                <li>Ayudante: <a href="http://www.fciencias.unam.mx/directorio/98369">Dr. José C. Ruíz Pantaleón</a></li>
                <li>Ayudante: <a href="http://www.fciencias.unam.mx/directorio/78791">M.C. Haydee Contreras Peruyero</a></li>
                <li>Ayudante: <a href="http://www.fciencias.unam.mx/directorio/81233">Lic. Elsa Fernanda Torres Feria</a></li>
            </ul>
        </ul>
    </div>
    <div>
        <h3>Servidor desarollado por el <a href="https://github.com/appliedgeometry" target="_blank">Laboratorio de Geometría Aplicada.</a></h3>
        <ul>
            <li>Desarrolladores:</li>
            <ul>
                <li>Dr. José C. Ruíz Pantaleón</li>
                <li>M.C. Miguel Angel Evangelista Alvarado</li>
            </ul>
        </ul>
    </div>
{% endblock %}
