{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div>
    <h4>Calificaciones</h4>
    <ul>
        <li>
            Quizzes y evaluaciones de progreso cada dos semanas (Se relizaran los días viernes).
        </li>
        <br>
        <li>
            Asistencia a ayudantías (con el Dr. Jose Ruíz Pantaleón).
        </li>
        <br>
        <li>
            Participación en el tablón de classroom, escribir sus dudas y ayudar a las demás personas cuando consideren tener una buena explicación.
        </li>
    </ul>
    <h4>Sesiones</h4>
    <ul>
        <li>
            Lunes y Miércoles: Clase
        </li>
        <br>
        <li>
            Martes y Jueves: Ejercicios
        </li>
        <br>
        <li>
            Viernes: dudas de Python y evaluaciones de progreso.
        </li>
    </ul>
</div>
<br>
{% endblock content %}
