{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div>
  <div>
    <div>
      <div>
        <form class="form-signin" method="post">
          {% csrf_token %}
          <table>
          {{ form }}
          </table>
          {% for field in registration_form %}
          <p>
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
          </p>
          {% endfor %}
          {% if registration_form.non_field_errors %}
            <div style="color: red">
              <p>{{registration_form.non_field_errors}}</p>
            </div>
          {% endif %}
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
